{% extends 'layouts/base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block content %}
    <section id="contact" class="pt-20 py-6 bg-gray-800">
        <div class="max-w-7xl mx-auto">
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} bg-{{ type == 'success' ? 'green' : 'red' }}-500 text-white p-4 rounded mb-4 text-center">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <h2 class="text-3xl font-extrabold text-yellow-500 text-center">Nous contacter</h2>
            <p class="mt-4 text-lg text-white text-center">Si vous avez un problème ou une question, n'hésitez pas à nous envoyer un message.</p>

            {{ form_start(form, {'attr': {'class': 'mt-8'}}) }}
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    {{ form_label(form.username, 'Nom d\'utilisateur (facultatif)', {'label_attr': {'class': 'block text-lg text-white'}}) }}
                    {{ form_widget(form.username, {'attr': {'class': 'block w-full p-2 mt-2 rounded-lg bg-gray-700 text-white'}}) }}
                </div>

                <div>
                    {{ form_label(form.title, 'Titre de la demande', {'label_attr': {'class': 'block text-lg text-white'}}) }}
                    {{ form_widget(form.title, {'attr': {'class': 'block w-full p-2 mt-2 rounded-lg bg-gray-700 text-white'}}) }}
                </div>
            </div>

            <div class="mt-6">
                {{ form_label(form.description, 'Description', {'label_attr': {'class': 'block text-lg text-white'}}) }}
                {{ form_widget(form.description, {'attr': {'class': 'block w-full p-2 mt-2 rounded-lg bg-gray-700 text-white', 'rows': 4}}) }}
            </div>

            <div class="mt-6 text-center">
                {{ form_widget(form.submit, {'attr': {'class': 'bg-yellow-500 hover:bg-yellow-400 text-black py-2 px-4 rounded-full text-lg font-semibold transition-all'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}