{% extends 'layouts/base.html.twig' %}
{% block title %}Page d'accueil'{% endblock %}
{% block content %}
    <!-- Insertion de la vidéo d'accueil -->
    <section class="banner-background">
        <video class="banner-video" autoplay loop muted>
            <source src="{{ asset('videos/banner.mp4') }}" type="video/mp4">
            Votre navigateur ne supporte pas la vidéo.
        </video>
        <div class="banner-content">
            <h1 class="text-5xl font-bold leading-tight sm:text-6xl lg:text-7xl text-yellow-500 drop-shadow-lg">L'univers du cinéma à découvrir</h1>
            <p class="text-xl sm:text-2xl mt-6 drop-shadow-md">Explorez les films à l'affiche et vivez des expériences immersives inoubliables.</p>
            <a href="#films" class="mt-8 inline-block bg-yellow-500 hover:bg-yellow-400 text-black py-3 px-8 rounded-full text-lg font-semibold transition-all">Voir les films</a>
        </div>
    </section>

    <!-- Last Films Section -->
    <section id="films" class="py-20 bg-black">
        <div class="max-w-7xl mx-auto text-center">
            <h2 class="text-4xl font-extrabold text-yellow-500">Films sortis cette semaine</h2>
            <p class="text-lg mt-4 text-white">Découvrez les dernières sorties et les films incontournables du moment.</p>
            <div class="mt-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
                <!-- Film Card -->
                {% for lastFilm in lastFilms %}
                <div class="relative bg-gray-800 rounded-lg overflow-hidden shadow-lg group transition-all duration-300 transform hover:shadow-2xl">
                    <img src="{{ asset("/images/film/"~ lastFilm.filmFilename) }}" alt="{{ lastFilm.title }}" class="w-full h-72 transition-opacity group-hover:opacity-90">
                    <div class="p-4 text-center">
                        <h3 class="text-xl font-semibold text-yellow-500 transition-colors group-hover:text-yellow-400">
                            {{ lastFilm.title }}</h3>
                        <p class="text-gray-400 text-sm mt-2">Genre: {{ lastFilm.getGenresAsString() }}</p>
                        <p class="text-gray-400 text-sm mt-1">Durée: {{ lastFilm.duration }} minutes</p>
                    </div>
                    <!-- Hidden Section for Hover -->
                    <div class="p-2 opacity-0 h-0 group-hover:opacity-100 group-hover:h-20 transition-all duration-300">
                        {% if lastFilm.averageRating is not null %}
                            <p class="text-yellow-500 mt-2">Note moyenne: {{ lastFilm.averageRating }} / 5</p>
                        {% else %}
                            <p class="text-gray-400 mt-2">Aucune note pour ce film</p>
                        {% endif %}
                       </div>
                </div>
                    {% else %}
                    <p>Aucune nouvelle sortie cette semaine !</p>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Films Section -->
    <section id="films" class="py-20 bg-black">
        <div class="max-w-7xl mx-auto text-center">
            <h2 class="text-4xl font-extrabold text-yellow-500">Films à l'affiche</h2>
            <p class="text-lg mt-4 text-white">Découvrez les films de votre cinéma.</p>
            <div class="mt-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
                <!-- Film Card -->
                {% for film in films %}
                    <div class="relative bg-gray-800 rounded-lg overflow-hidden shadow-lg group transition-all duration-300 transform hover:shadow-2xl">
                        <img src="{{ asset("/images/film/"~ film.filmFilename) }}" alt="{{ film.title }}" class="w-full h-72 transition-opacity group-hover:opacity-90">
                        <div class="p-4 text-center">
                            <h3 class="text-xl font-semibold text-yellow-500 transition-colors group-hover:text-yellow-400">
                                {{ film.title }}</h3>
                            <p class="text-gray-400 text-sm mt-2">Genre: {{ film.getGenresAsString() }}</p>
                            <p class="text-gray-400 text-sm mt-1">Durée: {{ film.duration }} minutes</p>
                        </div>
                        <!-- Hidden Section for Hover -->
                        <div class="p-2 opacity-0 h-0 group-hover:opacity-100 group-hover:h-20 transition-all duration-300">
                            {% if film.averageRating is not null %}
                                <p class="text-yellow-500 mt-2">Note moyenne: {{ film.averageRating }} / 5</p>
                            {% else %}
                                <p class="text-gray-400 mt-2">Aucune note pour ce film</p>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <p>Aucun film à l'affiche !</p>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="py-20 bg-black">
        <div class="max-w-7xl mx-auto text-center text-white">
            <h2 class="text-4xl font-extrabold text-yellow-500">À propos de notre Cinéma</h2>
            <p class="mt-6 text-lg text-gray-300">Offrir une expérience cinéma premium avec une qualité de projection incomparable, alliant technologie de pointe et confort optimal pour nos spectateurs. Nous nous engageons à vous offrir une programmation variée, des films exclusifs et des moments inoubliables dans une ambiance chaleureuse et conviviale. Rejoignez-nous pour vivre la magie du cinéma comme jamais auparavant.</p>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="py-20 bg-black">
        <div class="max-w-7xl mx-auto text-center text-white">
            <h2 class="text-4xl font-extrabold text-yellow-500">Contactez-nous</h2>
            <p class="mt-6 text-lg text-gray-300">Nous serons ravis de répondre à toutes vos questions et demandes.</p>
            <a href="{{path("app_contact")}}" class="mt-8 inline-block bg-yellow-500 hover:bg-yellow-400 text-black py-3 px-8 rounded-full text-lg font-semibold transition-all">Nous contacter</a>
        </div>
    </section>
{% endblock content %}