{% extends 'layouts/base.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}

{% block content %}
    <div class="min-h-screen bg-black flex items-center justify-center px-6 py-12">
        <div class="w-full sm:w-96 bg-gray-800 rounded-lg shadow-lg p-8">
            <h2 class="text-3xl font-bold text-center text-white mb-6">Changer votre mot de passe</h2>

            {{ form_start(form) }}
            <div class="mb-4">
                {{ form_label(form.new_password, 'Nouveau mot de passe', {'attr': {'class': 'block text-sm font-medium text-gray-300'}}) }}
                <div class="mt-2">
                    {{ form_widget(form.new_password, {'attr': {'class': 'block w-full px-4 py-2 rounded-md border border-gray-600 bg-gray-700 text-white focus:ring-2 focus:ring-indigo-500 focus:outline-none'}}) }}
                </div>
            </div>

            <div>
                {{ form_widget(form.submit, {'attr': {'class': 'w-full py-2 px-4 bg-indigo-600 text-white font-semibold rounded-md hover:bg-indigo-700 focus:ring-2 focus:ring-indigo-500'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
