{% extends 'layouts/baseUser.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block content %}
    <div class="mt-24 md:ml-64 px-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
                <h1 class="text-base font-semibold text-yellow-500 leading-6">Commandes</h1>
                <p class="mt-2 text-sm text-gray-700">Une liste de toutes les commandes de Cinéphoria</p>
            </div>
        </div>

        <div class="mt-8 flow-root">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                    <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                        <table class="min-w-full divide-y divide-primary">
                            <thead class="bg-indigo-600 text-white">
                            <tr>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold">Affiche</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold">Film</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold">Places réservées</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold">Jour de diffusion</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold">Heure de début</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold">Durée du film</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold">Montant payé</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold">Laisser un avis</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold">Voir mon billet</th>
                            </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-200 bg-white">
                            {% for reservation in reservations %}
                                <tr>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                        <img src="{{ asset('/images/film/' ~ reservation.session.film.filmFilename) }}"
                                             alt="{{ reservation.session.film.title }}"
                                             class="w-10 transition-opacity group-hover:opacity-90">
                                    </td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                        {{ reservation.session.film.title }}
                                    </td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                        {{ reservation.seats|join(', ') }}
                                    </td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                        {{ reservation.session.startDate|date('d-m-Y') }}
                                    </td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                        {{ reservation.session.startDate|date('H\\hi') }}
                                    </td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                        {{ reservation.session.film.duration }}
                                    </td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                        {{ reservation.totalPrice }} €
                                    </td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                        {% if reservation.session.isFinished() %}
                                            {% if reservation.reviews|length == 0 %}
                                                <a href="{{ path('app_user_review', { reservationId: reservation.id }) }}"
                                                   class="text-blue-500 hover:underline">Laisser un avis</a>
                                            {% else %}
                                                <span class="text-green-500 font-semibold">Avis déjà déposé</span>
                                            {% endif %}
                                        {% else %}
                                            <span class="text-gray-500">Séance non terminée</span>
                                        {% endif %}
                                    </td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                        <a href="{{ path('app_user_order', { id: reservation.id }) }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                                 stroke="currentColor" class="size-6">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td class="whitespace-nowrap py-4 text-sm font-medium text-center" colspan="9">
                                        Aucune réservation enregistrée
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
